ACTION!="add", GOTO="zte_end"
SUBSYSTEM!="usb", GOTO="zte_end"

ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="19d2", GOTO="zte_check"
GOTO="zte_end"

LABEL="zte_check"

ATTRS{idProduct}=="0001", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="0002", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0003", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="0004", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="0005", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="0006", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="0007", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="0008", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="0009", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="000A", ENV{USB_MODEM_INTERFACE}="0"
ATTRS{idProduct}=="0012", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0015", ENV{USB_MODEM_INTERFACE}="1"
ATTRS{idProduct}=="0016", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0017", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0018", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0019", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0021", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="0024", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0025", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0030", ENV{USB_MODEM_INTERFACE}="1"
ATTRS{idProduct}=="0031", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="0033", ENV{USB_MODEM_INTERFACE}="4"
ATTRS{idProduct}=="0037", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="0042", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="0043", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="0048", ENV{USB_MODEM_INTERFACE}="4"
ATTRS{idProduct}=="0049", ENV{USB_MODEM_INTERFACE}="4"
ATTRS{idProduct}=="0052", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="0055", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0061", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="0063", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="0064", ENV{USB_MODEM_INTERFACE}="2"
ATTRS{idProduct}=="0066", ENV{USB_MODEM_INTERFACE}="3"
ATTRS{idProduct}=="2002", ENV{USB_MODEM_INTERFACE}="3"

LABEL="zte_end"

